*{box-sizing:border-box;}

body {
    margin: 0;
    padding: 6px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 800px;
}

.form-container {
    display: flex;
}

input {
    width:100%;
    border: 2px solid #ff9e9e;
    padding: 10px 0; 
    margin-right: 2px;  
    text-align: center;
    background-color: #ff9e9e;
    color: #fff;
}

::placeholder { 
    color: #fff;
    opacity: 1; /* Firefox */
  }

button {
    background-color: #ff9e9e;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #ff9e9e;
    width: 130px;
    padding: 10px 10px;
    margin: 8px 0;
}

#delete-btn {
    background: white;
    color: #ff9e9e;
    
}

table, th, td {
    border: 1px solid #ff9e9e;
    border-collapse: collapse;
    text-align: center;
  }
  th, td {
    padding: 15px;
    color: #ff9e9e;
  }




